body {
	overflow: hidden
	background: #111
}

.content-wrapper, .right-side, .main-footer {
    /*margin-left: 0px;*/
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    /*background-color: #ffffff;*/
}



/*.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: 0;
}*/

/*.skin-green .sidebar-menu > li:hover > a, .skin-green .sidebar-menu > li.active > a {
    color: #fff;
    background: #1e282c;
    border-left-color: #00a65a;
}*/
